@{
    ViewBag.Title = "Acerca de";
}

<h3>@ViewBag.MiTexto</h3>

<p>Brindamos soluciones integrales o a la medida. Nuestro objetivo es proveer de una gama alta en calidad de capacitación y/o servicios</p>
