@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Bienvenido a TgAlumnos</h1>
    <p class="lead">Además de ofrecerte una amplia gama de cursos y diplomados actualizados en T.I.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Mas Información</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cursos Online</h2>
        <p>
            Nosotros te damos mediante nuestro curso en linea totalmente en vivo, los elementos necesarios y actuales.
        </p>
        <p><a class="btn btn-default btn-Vermas" href="http://go.microsoft.com/fwlink/?LinkId=301865">Ver más</a></p>
    </div>
    <div class="col-md-4">
        <h2>Instructores certificados</h2>
        <p>Tanto alumnos, como empresas reconocidas nos recomiendan por nuestra alta calidad</p>
        <p><a class="btn btn-default btn-Vermas" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ver más</a></p>
    </div>
    <div class="col-md-4">
        <h2>Capacitacion</h2>
        <p>Brindamos servicio de capacitación en distintas tecnologías y niveles, desde "Introducción a la programación", hasta cursos de preparación para certificación o manejo de frameworks.</p>
        <p><a class="btn btn-default btn-Vermas" href="http://go.microsoft.com/fwlink/?LinkId=301867">Ver más</a></p>
    </div>
</div>